.piece {
    height: 65px;
    background: aliceblue;
    display: flex;
    align-items: center;
    justify-content: center;
}

.color-tile {
    background: #282c34;
}

.piece div {
    border-radius: 50%;
    width: 80%;
    height: 80%;
    

}

.empty {
    border: none;
    background: transparent;
}

.selectedBox.piece {
    background-color: yellow !important;
    box-shadow: 0 0 20px white; 
    /* border: 1px solid white; */ 
    opacity: 0.6;
    transition: 0.3s;
}

.board {
    width: 55%;
    margin: 6rem auto;
    overflow: auto;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto;
    border: 5px solid black;
    outline: 5px solid white;
}