.piece {
    width: 12%;
    height: 50px;
    background: white;
    float: left;
    border: 1px solid black;
    border-radius: 50%;
}

.chess-piece {
    border-radius: 50%; 
    width: 25px;
    height:25px; 
    margin: 0 auto
}

.selectedBox.piece {
    background-color: blue !important;
    box-shadow: 0 0 20px white;
    border: 1px solid white;
    opacity: 0.5;
}

.red {
    background-color: red;
}

.black {
    background-color: black;
}

.board {
    width: 55%;
    margin: 7rem auto;
    overflow: auto;
}