.piece {
    height: 65px;
    background: aliceblue;
    display: flex;
    align-items: center;
    justify-content: center;
}

.color-tile {
    background: #282c34;
}

.piece div {
    border-radius: 50%;
    width: 55px;
    height: 55px;
    text-align: center;
    
}

.piece .empty {
    min-width: 100%;
    height: 100%;
    border-radius: 0;
}

.piece div * {
    pointer-events: none;
    min-width: 50%;
    height: 50%;

}


.redKing {
    background: red;
}

.blackKing {
    background: black;
}

.empty {
    border: none;
    background: transparent;
}

.selectedBox.piece {
    background-color: yellow !important;
    box-shadow: 0 0 20px white; 
    opacity: 0.6;
    transition: 0.3s;
}

.board {
    margin: 6rem auto;
    overflow: auto;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto;
    border: 5px solid black;
    outline: 5px solid white;
}

@media only screen and (min-width: 1500px) {
    .board {
        width: 60%;
    }
}

@media only screen and (max-width: 600px) {
    .piece {
        height: 40px;
    }
    .piece div {
        width: 35px;
        height: 35px;
    }
}

