body {
    background-color: #282c34;
}

.particles {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    
}

.container h1 {
    color: #fffc00;
    text-align: center;
}

.container h3 {
    text-align: center;
    border: 1px solid black;
    text-transform: uppercase;
    color: white;
    width: 55%;
    margin: 0 auto;
    padding: 10px 0;
}

.red-turn-label {
    background: red;
}

.black-turn-label {
    background: black;
}

.score-display {
    display: grid;
    grid-template-columns: auto auto;
    text-align: center;
    width: 55%;
    margin: 0 auto;
    color: white;
}

.controls {
    text-align: center;
}

.controls button {
    background-color: transparent;
    color: #fffc00;
    padding: 3px;
}

.controls button:focus {
    background-color: transparent;
}

@media only screen and (max-width: 600px) {
    .container h1 {
        font-size: 2.2rem;
    }
    .container h3 {
        font-size: 1.5rem;
    }
}